@import 'normalize.css';
@import 'label.css';
@import 'text-input.css';
@import 'title.css';

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

:root {
  --green: #bfd9c8;
  --blue: #c2e9ff;
  --brown: #ad8a64;
  --black: #39393a;
  --cream: #f3ede2;
  --white: #f5f5f5;
  --labelZIndex: 1;
}

body.ember-turnips {
  background-color: var(--green);
  color: var(--black);
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ember-turnips__app {
  max-width: 750px;
  background-color: var(--cream);
}
